html,
body {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.nav {
  width: 160px;
  height: 100%;
  position: fixed;
  background: #f1f1f1;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.nav a {
  text-decoration: none;
  display: block;
  font-weight: 400;
  line-height: 18px;
  font-size: 16px;
  padding: 16px;
  cursor: pointer;
  color: black;
}

.nav a:hover {
  background: #555555;
  color: white;
}

.nav a.active {
  background: #4caf50;
  color: white;
}

.main-content {
  margin-left: 160px;
  padding: 10px 10px;
}
@media screen and (max-width: 700px) {
  .nav {
    width: 100%;
    height: auto;
    position: relative;
  }
  .nav a {
    float: left;
  }
  .main-content {
    margin: auto auto;
  }
}

@media screen and (max-width: 400px) {
  .nav a {
    text-align: center;
    float: none;
  }
}
