* {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.topnav {
  background-color: #333333;
  margin: 0;
  overflow: hidden;
}

.topnav a {
  font-size: 1.7rem;
  line-height: 26px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  text-align: center;
  float: left;
}

.topnav a:hover {
  background: #dddddd;
  color: black;
}

.active {
  background: #4caf50 !important;
  color: white !important;
}
