* {
  box-sizing: border-box;
}
.tab {
  width: 30%;
  float: left;
  height: 300px;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  display: block;
  background-color: inherit;
  width: 100%;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  padding: 22px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ccc;
}

.tab button.active {
  background: #ccc;
}

.tabcontent {
  float: left;
  display: none;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  height: 300px;

  border-left: none;
}
