html,
body {
  margin: 0 0;
}
.box1 {
  height: 100px;
  display: block;
}
.hori {
  width: 680px;
  height: 75px;
  display: flex;
  align-items: center;
}

.hori > .icon {
  width: 135px;
  background-color: #555555;
  font-size: 40px;
  padding: 30px 30px;
  color: white;
  text-align: center;
  transition: all 0.3s ease;
}

.hori > .icon:first-child {
  background-color: #4caf50;
}

.hori > .icon:hover {
  background-color: black;
}

.verti {
  width: 90px;
  height: 75px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.verti > .icon {
  width: 90px;
  background-color: #555555;
  font-size: 40px;
  padding: 30px 30px;
  color: white;
  text-align: center;
  transition: all 0.3s ease;
}

.verti > .icon:first-child {
  background-color: #4caf50;
}

.verti > .icon:hover {
  background-color: black;
}
